.button-group {
  display: flex;
  margin-bottom: 1.5rem;

  .button {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  @extend %h4;
  padding: 0.75rem 1.25rem;
  display: flex;
  background-color: $black;
  color: $white;
  align-items: center;
  transition: 0.3s ease all;
  position: relative;

  .text,
  svg {
    position: relative;
    z-index: 2;
  }

  svg {
    fill: $white;
    height: 1rem;
    margin-right: 0.75rem;
    transition: 0.3s ease all;
  }

  .color-strip {
    position: absolute;
    z-index: 1;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: 0.3s ease opacity;

    &.instagram {
      background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
    }

    &.youtube {
      background: $youtube-red;
    }

    &.tiktok {
      box-shadow: -4px -4px 0px $tiktok-blue, 4px 4px 0px $tiktok-red;
      // background: linear-gradient(
      //   -45deg,
      //   $tiktok-blue 0%,
      //   $tiktok-blue 50%,
      //   $tiktok-red 50%,
      //   $tiktok-red 100%
      // );
    }
  }

  &.white {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &:hover {
    color: $white;
    background-color: $black;

    .color-strip {
      opacity: 1;
    }
  }
}
