.home {
  background-color: $black;
  background-image: url('/img/david-adewumi-cover.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
}
