$content-width: 35rem;

.main {
  padding: 4rem 4rem 0;
}

.content {
  display: flex;
  width: 100%;
  padding-bottom: 4rem;

  .text-content {
    @include clearfix;
    max-width: $content-width;
    width: 60%;
    margin-right: 4rem;
  }

  .image {
    max-width: 24rem;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .main {
    padding: 4rem 2rem 0;
  }

  .home {
    background-position: top left;
  }

  .content {
    flex-direction: column;

    .text-content {
      margin-right: 0;
      order: 2;
      width: 100%;
    }

    .image {
      order: 1;
      margin-bottom: 2.5rem;
      width: 100%;
      height: 0;
      padding-bottom: 100%; // square
      overflow: hidden;
      max-width: none;

      img {
        margin-top: -30%;
      }
    }
  }
}
