nav {
  height: 2rem;
  margin-bottom: 4rem;
  ul {
    display: flex;

    li {
      @extend %h4;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {

  nav {
    margin-bottom: 2.5rem;
  }

  .hide-tiny {
    display: none;
  }
}
