{{#extend "base"}}

{{#content "bodyClass" mode="prepend"}}home{{/content}}

{{#content "main" mode="prepend"}}
{{> nav }}
<div class="content">
    <div class="text-content">
        <h1>David Adewumi</h1>
    </div>
</div>
{{/content}}
{{/extend}}
