{{#extend "base"}}

{{#content "bodyClass" mode="prepend"}}bio{{/content}}

{{#content "main" mode="prepend"}}
{{> nav }}
<div class="content">
    <div class="text-content">
        <blockquote>
            "A trumpeter of expansive vocabulary and strong discipline,"
            <cite>Jazz Speaks</cite>
        </blockquote>
        <p>Dave Adewumi is an award-winning trumpet player, composer, and educator captivated by the transcendental nature of music. His work is derivative from the great black improvisers and composers of the past, yet pushes forward to capture the totality of the human experience. From his strong Nigerian upbringing in New Hampshire, he established an unquenchable thirst for music creation leading him to study at the New England Conservatory (16). Mentored by a number of critically acclaimed musicians including Ralph Alessi, Ran Blake, Frank Carlberg, John McNeil, and the late Laurie Frink, Dave set a foundation that would propel him to his future.</p>
        <p>He was accepted to the prestigious Betty Carter Jazz ahead program(15) and the following year studied at The Banff Center, and at Harvard University with Vijay Iyer. In 2016 Dave was accepted to the highly selective Juilliard Jazz Masters Program under the artistic leadership and instruction of Wynton Marsalis. In 2017 he was the first jazz musician and trumpet player to receive the Paul and Daisy Soros Fellowship for New Americans.</p>
        <p>He has performed around the world including the Panama Jazz Festival, Generations in Jazz Festival (in Australia with James Morrison), and as a featured artist in the Bern Jazz Festival. His most recent collaborations have been with Jason Moran and the Bandwagon’s “Absence of Ruin - a meditation on the life of James Reese Europe” at the Kennedy Center, and Dave Douglas’ Project “Engage”.</p>
    </div>
    <div class="image">
        <img src="/img/looking-back.jpg" alt="">
    </div>
</div>
{{/content}}
{{/extend}}
