{{#extend "base"}}

{{#content "bodyClass" mode="prepend"}}bio{{/content}}

{{#content "main" mode="prepend"}}
{{> nav }}
<div class="content">
    <div class="text-content">
        <p>David Adewumi is a New Hampshire native who began his musical journey at the age of 9. At the New England Conservatory, David worked with amazing musicians including Dave Holland, Jason Moran, John McNeil, and the late Laurie Frink. In 2015, he was 1 of 24 musicians accepted to the Betty Carter Jazz ahead program, where he performed his compositions at the Kennedy Center under the guidance of Carmen Lundy, JD Allen, Eric Reeves, Eric Harland, Andre Hayward, and Jason Moran. Through his time at the 2015 Banff Summer Jazz Workshop David had the opportunity to work with Mark Turner, Vijay Iyer, Becca Stevens, and many other amazing jazz musicians in the program. During his final year at NEC, David had the opportunity to study at Harvard with Vijay Iyer with a sextet comprised of Harvard, NEC, and Berklee musicians. In 2016, David performed at the Panama Jazz Festival alongside Dominique Eade and George Garzone. In February 2016, David was selected as a finalist for the Thelonious Monk Institute where he played for Herbie Hancock, Wayne Shorter, Kenny Burrell and Herb Alpert. David is currently working towards his Masters degree in Jazz performance at The Juilliard School.</p>
    </div>
    <div class="image">
        <img src="/img/david-adewumi-profile.jpg" alt="">
    </div>
</div>
{{/content}}
{{/extend}}
