{{#extend "base"}}

{{#content "bodyClass" mode="prepend"}}bio{{/content}}

{{#content "main" mode="prepend"}}
{{> nav }}
<div class="content">
    <div class="text-content">
        <blockquote>
            "A trumpeter of expansive vocabulary and strong discipline."
            <cite>Jazz Speaks</cite>
        </blockquote>
        <p>Dave Adewumi is an award-winning trumpet player, composer, and educator captivated by the intangible nature
            of music.
            His work is derivative of the great black improvisers and composers of the past yet pushes forward to
            capture the
            totality of the human experience.</p>
        <p>
            From his Nigerian upbringing in New Hampshire, he established an unquenchable thirst for music creation
            leading him to
            study at the New England Conservatory. Mentored by several critically acclaimed musicians, including Ralph
            Alessi, Ran
            Blake, Frank Carlberg, John McNeil, and the late Laurie Frink, Dave set a foundation that would propel him
            to his
            future.</p>
        <p>He was accepted to the prestigious Betty Carter Jazz ahead program and the following year studied at The
            Banff Center,
            and at Harvard University with Vijay Iyer. In 2016 Dave was accepted to the highly selective Juilliard Jazz
            Masters
            Program under the artistic leadership and instruction of Wynton Marsalis. Dave would go on to be the first
            jazz musician
            and trumpet player to receive the Paul and Daisy Soros Fellowship for New Americans and in 2019 he was
            awarded 1st prize
            in the Carmine Caruso International Jazz Trumpet Competition.</p>
        <p>
            He has performed around the world including the Panama Jazz Festival, Generations in Jazz Festival, De
            Camera festival,
            and Bern Jazz Festival. His most recent collaborations have been with Jason Moran and the Bandwagon’s
            Absence of Ruin,
            and Dave Douglas’ Engage and Dizzy Atmosphere.
        </p>
    </div>
    <div class="image">
        <img src="/img/looking.jpg" alt="">
    </div>
</div>
{{/content}}
{{/extend}}
