<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bio/">Bio</a></li>
        <li><a href="/media/">Media</a></li>
        <li><a href="/join/">Mailing List</a></li>
    </ul>
</nav>
